* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

body,
ul,
h1, h2, h3, h4, h5, h6,
p {
  margin: 5px 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #626272; }

input {
  border: none; }

.l-outermost {
  width: 100%;
  height: 100%; }

.l-content-container {
  background-color: #f4f7f8;
  width: 1024px;
  height: 100%; }

.l-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .l-flex--spread {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .l-flex--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .l-flex__none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
  .l-flex__1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .l-flex__2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .l-flex__align {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }

.c-sidebar {
  background-color: #702283;
  height: 100%;
  overflow-y: scroll;
  width: 246px; }
  .c-sidebar__header {
    height: 69.68px;
    background-color: #4c1367; }
  .c-sidebar--closed {
    left: -246px; }

.c-sidebar-list__item {
  height: 66.87px;
  color: #d18ee2; }
  .c-sidebar-list__item:hover {
    background-color: rgba(76, 19, 103, 0.5);
    box-shadow: 0 -1px 0 0 #4c1367, 0 1px 0 0 #4c1367;
    color: #fff; }

.c-sidebar-link {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
  line-height: 66.87px; }
  .c-sidebar-link__icon {
    margin: 0 20px; }

.c-content-header {
  background-color: #fff;
  box-shadow: 0 1px 0 0 #c9c9c9;
  height: 70px; }

.c-content-body {
  padding: 20px; }

.c-crumbs {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc; }
  .c-crumbs__current {
    color: black;
    text-transform: uppercase; }

.c-box, .c-dropdown {
  background-color: #fff;
  border: 1px solid rgba(173, 179, 185, 0.51);
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px; }

.c-dropdown {
  margin: 10px; }

.c-button {
  width: 140px;
  height: 44px;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 44px;
  font-size: 14px; }
  .c-button--grey {
    background-color: #8899AA;
    color: #FFFFFF; }

.t--center {
  text-align: center; }

.t--c-1 {
  color: #8899AA; }

.t--c-2 {
  color: #6C5E73; }

.t--c-3 {
  color: #626272; }

.t--c-4 {
  color: #64707C; }

.t--c-5 {
  color: #FFFFFF; }

.t--c-6 {
  color: #CD171A; }

.t--c-7 {
  color: #DF542A; }

@font-face {
  font-family: 'Montserrat';
  src: url(07689d4eaaa3d530d58826b5d7f84735.ttf) format("ttf");
  font-weight: normal;
  font-style: normal; }
