@import "./components/sidebar";
@import "./components/content-header";

.c-content-body {
  padding: 20px;
}

.c-crumbs {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;

  &__current {
    color: black;
    text-transform: uppercase;
  }

}

.c-box {
  background-color: #fff;
  border: 1px solid rgba(173, 179, 185, 0.51);
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px;
}

.c-dropdown {
  @extend .c-box;
  margin: 10px;
}

.c-button {
  width: 140px;
  height: 44px;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 44px;
  font-size: 14px;

  &--grey {
    background-color: #8899AA;
    color: #FFFFFF;
  }
}
